.App {
    padding: 30px;

    display: grid;
    grid-template-areas:
'new-todo-input'
'todo-mapped';
    text-align: center;

}

.new-todo-input {
    grid-area:new-todo-input ;

}

.todo-mapped {
grid-area:todo-mapped ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: max-content;
    padding: 10px;
    margin: 10px;
    transform: translate(0);
    transition: all 0.4s;
}
.todo-mapped-created{
    grid-area:todo-mapped ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: max-content;
    padding: 10px;
    transform: translate(-150%);
    transition: all 0.4s;
}
.error {
    color: red;
}

.notError {
    color: black;
}

.activeButton {
    background-color: aqua;
}

.CompletedTasks {
    opacity: 0.5;
}
