.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error{
  color: red;
}
.notError{
  color: black;
}
.activeButton{
  background-color: aqua;
}
.CompletedTasks{
  opacity: 0.5;
}
